#welcome {
  position: relative;
  background: black;
  color: #f12;
  font-size: calc(1em + 8vw);
  font-weight: 700;
  height: 100vh;
  line-height: 1;
  z-index: 0;
}

.face {
  position: relative;
  z-index: -1;
  animation: fadeIn ease 2s;
  transform: scale(0.8);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(0.8);
  }
}